@font-face {
    font-family: 'Source Sans';
    src: url("css/fonts/Source-Sans-Pro.otf");

    font-family: 'Courier';
    src: url("css/fonts/Courier_New.ttf");

    font-family: 'Adobe Garamond';
    src: url("css/fonts/AGaramondPro-Regular.otf");
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300');

* {
    box-sizing: border-box;
}



/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {
    font-family: 'Cutive Mono', monospace;
    font-weight: 200;
    padding: 2rem;
}

section:not([id]) {
    margin: 1em 0;
    padding: 0.5em 0;
    border-top: 1px solid #333;
}

h2 {
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-family: 'Cutive Mono', monospace;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 15px;
}

section h3 {
    margin-bottom: 0;
}

section p {
    margin-top: 0;
}

p {
    font-family: 'Cutive Mono', monospace;
    line-height: 19px;
    width: 40%;
    font-weight: 400;
    text-align: justify;
    font-size: 13px;
}

.flt-left {

    margin-top: 1em;
    margin-right: 10em;

}

section code {
    /*    background-color: rgb(235, 244, 236);*/
    border: solid 0.1px black;
    padding: 0.5em 0.75em;
    margin: 0.5em 0;
    display: block;
}

ul {
    list-style-type: none;
    margin-top: 0em;
    padding-left: 0em;
    padding-top: 0em;
}

/*
SIDE MENNU
RETRIEVED FROM (AARON LEGASPI)
*/

aside {
    /*    height: 90vh;*/
    /*    top-right-bottom-left*/
    padding: 2rem 1rem 1rem 1rem;
    /*background-color: blue;*/
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
}

#aside-logo img {
    top: 0;
    padding-left: 1rem;
    width: 20rem;
    height: auto;
    margin-bottom: 2rem;
    opacity: 0.05;

}

nav section {
    margin-bottom: 2rem;
    width: auto;
}

.nav-main {
    padding: 1em 2.4em;
}

.nav-main ul {
    padding-left: 0em;
    list-style-type: none;
}

/*
NAV INTERACTION-------------
RETRIEVED FROM (https://codepen.io/martinwolf/pen/eNNdme )
*/

.nav-main-heading {
    font-family: Helvetica;
    font-size: 16px;
    margin-bottom: 0em;
    margin-top: 2em;
}

.nav-main-item {
    display: inline-block;
    margin-top: 0.5em;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Cutive Mono', monospace;

    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.nav-main-item:hover {
    color: dimgray;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}


.nav-main-demo {
    display: inline-block;
    margin-top: 0.5em;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}



.nav-main-demo::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(168, 178, 168);
    transition: width .3s;
}

.nav-main-demo:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-main-example {
    margin-bottom: 0em;
    margin-top: 0em;
    font-weight: 200;
}


/* 
  -------------------INTERACTIVE ELEMENTS -------------------
*/

/* 
 IN-TEXT LINKE ------------------
*/

#intext-link {
    color: rgb(168, 178, 168);
    text-decoration: none;
}

#intext-link:hover {
    text-decoration: line-through;
    text-decoration-color: rgb(124, 137, 124);
}

#intext-link:focus,
#intext-link:active {
    text-decoration: line-through;
    color: rgb(124, 137, 124);
}

/* 
 SUBMIT BUTTON ------------------
*/

/*TEXT FIELD--------------------- */

/*RETRIEVED FROM (https://www.w3schools.com/w3css/w3css_input.asp)*/

::placeholder {
    color: lightgray;
    font-style: italic
}


.text-field-input {
    margin-top: 0.5em;
    caret-color: rgb(124, 137, 124);
    display: block;
    padding-left: 1em;
    width: 20em;
    height: 2.5em;
    font-size: 14px;
    border-color: black;
    border-width: 1px;
    line-height: 10em;
}

.text-field-input:focus,
.text-field-input:active {
    outline: none;
}


/* 
   ------------------- TEXT ELEMENTS -------------------
*/

#header1 {
    font-size: 14px;
    margin-bottom: 0em;
}

/*
BULET LIST ---------- 
RETRIEVED FROM (https://codepen.io/davidelrizzo/pen/jIKAb)
*/

.featureList,
.featureList ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2em;
    list-style-type: none;
}

.featureList li {
    margin-bottom: 1.2em;
}

.featureList li:before {
    margin-bottom: 2em;
    position: absolute;
    margin-left: -1.3em;
    font-weight: bold;
}

.featureList li.cross:before {
    margin-bottom: 2em;
    content: "\2717";
    color: black;
}

/*
ORDERED LIST---------------
RETRIEVED FROM (https://codepen.io/yying6/pen/qzlop)
*/

.bg-ol-list {
    font-family: Helvetica;
    list-style: none;
    color: lightgray;
    font-weight: 600;
    font-size: 2em;
}

.bg-ol-list .bg-ol-item {

    position: relative;
    margin-bottom: 1em;
}

.bg-ol-item p {
    width: 40%;
    font-family: 'Cutive Mono', monospace;
    color: black;
    font-size: 14px;
    font-weight: 200;
    padding-left: 3em;
}

.bg-ol-list span {
    position: absolute;
    line-height: 25px;
    padding-top: 5px;
}

/*PRODUCT LISTING ---------*/

figure {
    display: inline-block;
    padding-right: 2em;
    margin: 0;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    padding-top: 0.2em;
    padding-left: 1em;
    text-align: left;

}

.product-img {
    width: 20em;
}

.product-text {
    width: 100%;
    margin-left: 1em;
    margin-bottom: 0em;
    font-weight: 500;
}

.fig-sub {
    padding: 0em;
    margin-left: 1em;
    margin-bottom: 0em;
    font-weight: 100;
}

.fig-price {
    margin-left: 1em;
    margin-bottom: 0em;
    font-weight: 400;
}


/*COLOR PALETTE--------------*/

#color1 {
    display: inline-block;
    margin-right: 1em;
    width: 10em;
    height: 10em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

#color1 p {
    padding: 4em 3.3em;
}

#color2 {
    display: inline-block;
    margin-right: 1em;
    width: 10em;
    height: 10em;
    background-color: rgb(235, 244, 236);
}

#color2 p {
    padding: 4em 3.3em;
}

#color3 {
    display: inline-block;
    margin-right: 1em;
    width: 10em;
    height: 10em;
    background-color: rgb(221, 221, 221);
}

#color3 p {
    padding: 4em 3.3em;
}


#color4 {
    display: inline-block;
    margin-right: 1em;
    width: 10em;
    height: 10em;
    background-color: black;
}

#color4 p {
    color: white;
    padding: 4em 3.3em;
}

/*
Grid Structure---------------
*/

.grid-1of4 {
    display: inline-block;
    width: 29em;
    border-style: solid;
    border-width: 1.5em;
    border-color: rgb(221, 221, 221);
    height: 10em;
    background-color: white;
    text-align: center;
}

.grid-1of4 p {
    font-family: Helvetica;
    font-size: 2em;
    font-weight: 600;
    padding: 1em;
    padding-left: 1.5em;
}

.grid-3of4 {
    display: inline-block;
    width: 29em;
    border-style: solid;
    border-width: 1.5em;
    border-color: rgb(221, 221, 221);
    height: 10em;
    background-color: white;
}

.grid-3of4 p {
    font-family: Helvetica;

    text-align: center;
    font-size: 2em;
    font-weight: 600;
    padding: 1em;
    padding-left: 11em;
}


/*color: rgb(235,244,236)-----off white;*/

/*color: rgb(168,178,168);-----dark teal
/*color: rgb(124,137,124);-----darkest


/* 
   ------------------- COMBINED ELEMENTS -------------------
*/

.body-back {
    background: rgb(235, 244, 236);
}


.home-nav {
    margin-top: 10em;

}


.home-nav-item {
    /*    text-align: center;*/
}

.home-nav {
    text-align: center;
    /*    letter-spacing: 0.3em;*/
    margin-top: 0em;


}

.home-nav li {
    display: inline-block;
    margin-top: 2em;
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.home-nav-item {
    padding-left: 2em;
    font-weight: 400;
    text-decoration: none;
    color: black;
}


.home-nav-item:hover {
    text-decoration: line-through;
}

.home-logo {
    width: 30%;
    padding-top: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.content-container {

    width: 100%;
    min-height: 90vh;
    padding-left: 40rem;
}

.content {
    margin-top: 5em;
    width: 100%;
    min-height: 90vh;
    padding-bottom: 5em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.footer p {
    width: 100%;
    text-align: center;
    color: rgb(168, 178, 168);
    ;
}
