#about-page {
    /*    background-color: #f6df81;*/
}

.landing-images {
    width: 30%;
}

.landing-images img {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28%;
}



#landing-image2 {
    margin-right: 8rem;
    bottom: 8rem;
}

.bio-content {
    /*
    position: relative;
    left: 150%;
*/
    margin-left: 5rem;
    text-align: justify;
}

.bio-description {

    margin-bottom: 2rem;
    display: block;
    clear: both;
}

.bio-description p {
    font-style: italic;

}

.bio-description a {
    text-decoration: none;
    color: black;
}

.bio-content a {
    text-decoration: underline;
    font-size: 1rem;
    padding: 0;
    line-height: 1rem;
    font-weight: 600;
}

.bio {
    height: 100vh;
    display: block;
    padding-top: 9rem;
    padding-right: 4rem;
    width: 50%;
    clear: both;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
    .bio {
        padding: 0 1em;
        float: none;
        width: 100%;
        margin-bottom: 2em;
        clear: both;
    }

    .bio-content {

        margin-left: 0rem;
        text-align: justify;
    }



    #landing-image2 {
        display: none;
    }
    .landing-images {

        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .landing-images img {

        text-align: center;
        float: none;
        position: static;
        width: 60%;
        margin: 6rem 1rem 2rem;
    }

    .bio-content {

        margin-left: 1rem;
        text-align: left;
    }
}
