footer {
    display: block;
    position: relative;
    bottom: -10rem;
    margin: 5rem 0rem 0rem 0rem;
    width: 100%;

}

.footer-content a {
    padding: 0 4rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 100;
}

.divider {
    display: none;
}

.footer-content a:hover {
    text-decoration: line-through;

}

.footer-content p {
    display: none;
    font-size: 1rem;
    padding: 0 1rem;
    margin: 0;
    font-weight: 200;
}

.footer-content {
    text-align: center;
    padding: 4rem 0 2rem;
}

@media only screen and (max-width: 600px) {
    footer {
        margin-top: : 0rem;
    }

    .footer-content {
        padding: 2rem 1rem;
        display: block;
        flex: none;
        text-align: left;
    }

    .footer-content a {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0rem;
        text-align: left;

    }



}
