header:after,
footer:after {
    content: " ";
    display: block;
    clear: both;
}


* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


header {
    height: 0;
    position: relative;
}

.header-logo img {
    position: absolute;
    top: 3rem;
    left: 6rem;
    width: 4rem;
}

.header-logo img:hover {
    opacity: 0.5;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#main-nav {
    padding: 0rem 1rem 2.8em 0rem;
    width: 100%;

}

#main-nav ul {
    position: absolute;
    right: 0;
    clear: none;
    padding: 0;
    right: 6rem;
    top: 0rem;

}

#main-nav li {
    display: inline-block;
    padding-left: 2.5rem;

}

#main-nav a {

    z-index: 100;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    border-bottom: none;
    color: black;
}

#main-nav a:hover {
    border-bottom: 1px solid;
}

#name-tag a {
    font-weight: 600;
    color: black;
    letter-spacing: 0;
}

#name-tag a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    .header-logo img {
        top: 2rem;
        left: 1rem;
    }

    #main-nav ul {
        top: 1.2rem;
        right: 1rem;
    }
    #main-nav li {
        padding-left: 1rem;
    }

    #main-nav a {

        font-size: 0.9rem;

    }

}
