header:after,
footer:after {
    content: " ";
    display: block;
    clear: both;
}

#name-tag {
    float: left;
    z-index: 100;

}

#main-nav {
    padding: 0 1em 2.8em 1em;
    width: 100%;

}

#main-nav ul {

    clear: none;
    float: right;
    padding: 0;

}

#main-nav li {
    display: inline-block;
    padding-left: 2.5rem;

}

#main-nav a {

    z-index: 100;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    border-bottom: none;
    color: black;
}

#main-nav a:hover {
    border-bottom: 1px solid;
}

#name-tag a {
    font-weight: 600;
    color: black;
    letter-spacing: 0;
}

#name-tag a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    #main-nav {}

}
