.landing-images {
    width: 30rem;
}

.landing-images img {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25rem;
}



#landing-image2 {
    padding-left: 10rem;
    bottom: 8rem;
}

.landing-link {
    display: block;
    position: fixed;
    left: 32rem;
    bottom: 2rem;
    width: 30rem;
}

.landing-link p {
    font-style: italic;
}

.landing-link a {
    text-decoration: none;
    color: black;
}
