/*LOAD STYLESHEETS*/

@import url("header.css");
@import url("about.css");
@import url("footer.css");

/*PAGE SPECIFIC STYLESHEET*/

@import url("project.css");
@import url("landing.css");
@import url("off-white.css");
/*GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

/*PERSONAL FONTS*/

@font-face {
    font-family: 'Source Sans';
    src: url("css/fonts/Source-Sans-Pro.otf");

    font-family: 'Courier';
    src: url("css/fonts/Courier_New.ttf");

    font-family: 'Adobe Garamond';
    src: url("css/fonts/AGaramondPro-Regular.otf");

    font-family: 'Arial';
    src: url("css/fonts/Arial.ttf");
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 5rem;
    width: 100%;
    font-family: Helvetica, monospace;
    font-weight: 600;
    /*    background-color: rgb(245, 245, 245);*/
}

/*
#vr-headset {
    background-color: rgb(234, 242, 247);
}
*/

header {
    z-index: 100;
    clear: both;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-col-1of2 {
    margin: 0;
    width: 50%;
}

#main-nav {
    z-index: 100;
}

h1 {
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 5rem;
    text-transform: uppercase;

}

h1,
h2 {
    font-family: Helvetica, sans-serif;
    color: black;

}

h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
}

p {
    font-weight: 100;
    font-size: 1rem;
    line-height: 2rem;
}

li {
    padding: 0.5rem 0;
    font-weight: 200;
}

ul {
    list-style: none;
    padding: 0;
}


a {
    text-decoration: none;
    font-size: 3rem;
    color: black;
    line-height: 4rem;
    font-family: Helvetica, sans-serif;
}

.nav a {
    text-transform: uppercase;
}

/*PROJECT SECTION BOTTOM RIGHT*/

.vertical-header {
    position: absolute;
    bottom: -13.5rem;
    left: 0em;
    z-index: 999999;
    text-transform: uppercase;
    text-align: right;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

#landing {
    height: 100vh;
}

#project {
    position: relative;
    height: 100vh;
}

.index-list {
    padding: 5rem 1rem 0 8rem;
    width: 80%;
}


.index-row a {
    font-size: 5.5rem;
    line-height: 5.5rem;
    text-decoration: none;
    color: black;
}

.index-row h2 {
    padding-bottom: 0rem;
    margin-bottom: 1.5rem;
}

.index-list a {
    text-align: left;
    display: inline-block;
    width: 100%;

}

.project-entry {

    z-index: 1;
}

a.project-entry {
    padding: 0;
}

.project-entry:hover {
    color: #f6df81;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

/*PROJECT IMAGE RIGHT SIDE*/

.index-thumb {
    z-index: 2;
    float: right;
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 10.33%;
    max-height: 100px;
    height: auto;
    width: 100%;
    opacity: 0;

}

.index-thumb img {
    z-index: 2;

    float: right;
    margin-top: 0;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 100vh;
}

/*IF PROJECT ITEM HOVER, IMAGE APPEAR*/

.index-row:hover > .index-thumb {

    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity .85s ease-in-out;
    -moz-transition: opacity .85s ease-in-out;
    -ms-transition: opacity .85s ease-in-out;
    -o-transition: opacity .85s ease-in-out;
    transition: opacity .85s ease-in-out;
}

.index-row:hover > .index-thumb:hover {

    opacity: 0;
    -webkit-transition: opacity .85s ease-in-out;
    -moz-transition: opacity .85s ease-in-out;
    -ms-transition: opacity .85s ease-in-out;
    -o-transition: opacity .85s ease-in-out;
    transition: opacity .85s ease-in-out;
}

.index-row:hover > .thumb-description {

    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity .85s ease-in-out;
    -moz-transition: opacity .85s ease-in-out;
    -ms-transition: opacity .85s ease-in-out;
    -o-transition: opacity .85s ease-in-out;
    transition: opacity .85s ease-in-out;
}

.index-row:hover > .thumb-description:hover {
    opacity: 0;
}


@media only screen and (max-width: 1000px) {
    /*
    .index-row a {
        line-height: 5rem;
        text-decoration: none;
        color: black;
    }
*/
}


@media only screen and (max-width: 600px) {

    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 2rem;
        line-height: 1rem;
    }



    .index-list {
        margin: 0;
        padding: 0;
        margin-top: 5rem;
        padding-top: 2rem;
        padding-left: 1rem;
        width: 100%;
        text-align: left;
    }

    .index-row a {
        font-size: 2.5rem;
        line-height: 2.5rem;
        text-decoration: none;
        color: black;
    }

    .vertical-header {
        bottom: -8rem;
        left: 1rem;
        transform: none;
    }

    .index-row:hover > .index-thumb {
        opacity: 0;
        -webkit-transition: opacity .85s ease-in-out;
        -moz-transition: opacity .85s ease-in-out;
        -ms-transition: opacity .85s ease-in-out;
        -o-transition: opacity .85s ease-in-out;
        transition: opacity .85s ease-in-out;
    }

    .index-thumb {
        display: none
    }

    .thumb-description {
        display: none;
    }

}
