/*BACKGROUND COLORS*/

/*
#yelp-color {
    background-color: #fa5643;
}

#vr-color {
    background-color: #e1f2ef;
}

#off-white-color {
    padding-top: 0em;
    background-color: #ebf4ec;
}
*/

.index-list {
    padding-bottom: 10rem;
}

.zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
    /*    height: 100vh;*/
    margin-bottom: 5em;
}

#back-to-top {
    position: relative;
    bottom: 1rem;
}

#back-to-top p {
    position: fixed;
    bottom: 2rem;
    z-index: 0;
}

/*FIRST SCREEN SIZE hEIGHT: 100vh*/

.zero {
    position: relative;
    height: 100vh;
}

.btn {
    padding: 1rem 1em;
    border: solid 1px black;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.btn:hover {
    color: white;
    background: black;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

}

.project-content-top {
    display: block;
    width: 100%;
    /*    float: right;*/
    clear: both;
    overflow: auto;
    padding-right: 4rem;
    padding-top: 0%;
}


.zero img {
    /*    height: auto;*/
    max-width: 22%;
    max-height: auto;
    position: absolute;
    top: 0%;
    /*    left: -14%;*/
    right: 33rem;
    bottom: 0;
    margin: auto;
    display: block;
    z-index: 0;
}


.zero h1 {

    position: absolute;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    top: 40%;
    display: inline-block;
    text-align: left;
    padding-left: 0rem;
    z-index: 0;
    line-height: 0.90em;
    left: 28%;
}

.zero h2 {
    padding-left: 2rem;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 80%;
    display: inline-block;
    text-align: left;
    padding-left: 0rem;
    z-index: 0;
    line-height: 0.90em;
    left: 28%;
}


/*
PROJECT VIDEO
*/

video {
    padding-top: 2em;
    width: 65%;
    height: auto;
}


/*MAIN DIV */

.project-container {
    width: 100%;
}

.project-team ul {
    list-style: none;
    padding: 0;
}

.project-team li {
    padding-bottom: 0.5rem
}

/*/SUB DIV: HOLD EACH PROJECT*/

.project-team {
    width: 40%;
    display: inline-block;

}

.project-role {
    width: 50%;
    display: inline-block;
}

.project-content {
    margin: auto;
    width: 55%;
    /*    padding-right: 4rem;*/
    /*    padding-top: 5rem;*/
}

/*

.project-content p {
    margin-bottom: 2rem;
}
*/

.project-content h3,
.project-content p {
    width: 100%
}


.project-content img {
    display: block;
    text-align: center;
    margin: 3.5em auto;
    width: 100%;
}

.personal-work li {
    margin-top: 10rem;
}

.project-content h3 {
    margin-bottom: 1.5rem;
}

.project-content-right p {
    text-align: justify;
}

/*
ORDERED LIST---------------
RETRIEVED FROM (https://codepen.io/yying6/pen/qzlop)
*/

.bg-ol-list {
    font-family: Helvetica;
    list-style: none;
    color: lightgray;
    font-weight: 600;
    font-size: 4em;
}

.bg-ol-list .bg-ol-item {

    position: relative;
    margin-bottom: 1rem;
}

.bg-ol-item p {
    width: 100%;
    font-family: Helvetica;
    color: black;
    font-weight: 200;
    padding-left: 6rem;
    margin: 0;
}

.bg-ol-list span {
    position: absolute;
    line-height: 25px;
    padding-top: 1.3rem;
    font-weight: 600;
}

/*
BACK TO TOP ARROW RETRIEVED FROM http: //jsfiddle.net/Lt2wH/2550/
*/

#back-to-top {
    font-size: 1rem;
    display: inline-block;
    font-weight: 400;
    position: fixed;
    bottom: 4rem;
    left: 40px;
    z-index: 9999;
    /*
    width: 32px;
    height: 32px;
*/
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 1s ease-out;
    opacity: 0;
    text-align: right;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

#back-to-top:hover {
    color: gray;
    transition: color 0.5s;
}

#back-to-top.show {
    opacity: 1;
}

#content {
    height: 2000px;
}

/*
.zero .project-content {
    display: block;
    width: 70%;
    float: right;
    clear: both;
    overflow: auto;
    padding-right: 4rem;
    padding-top: 10%;
}
*/

.back-to-index {
    text-align: center;
}

.back-to-index a {
    font-size: 1.5rem;

}

.back-to-index a:hover {
    color: #f6df81;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


@media only screen and (max-width: 600px) {

    #one,
    #two,
    #three,
    #four,
    #five,
    #six,
    #seven,
    #eight,
    #nine {
        height: 100%;
        padding: 0 1rem;
    }


    .project-nav {
        display: none;
    }

    .project-content {
        width: 100%;
        left: 0;
        float: none;
        padding-top: 40%;
        padding-right: 0rem;
    }

    .project-content h3,
    .project-content p {
        width: 100%;
        text-align: left;
    }

    .project-content img {
        width: 100%;
    }



    .project-image {
        width: 100%;
        height: auto;
        float: none;
        padding: 4rem, 2rem;
    }
    .project-image img {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 0;
    }

    .zero .project-content {
        padding-top: 0;
    }

    .zero h1 {
        left: 1rem;
        bottom: 35%;
    }

    .zero h2 {
        left: 1rem;
        bottom: 25%;
    }

    .zero img {
        /*    height: auto;*/
        max-width: 52%;
        max-height: auto;
        position: absolute;
        top: 0%;
        /*    left: -14%;*/
        right: 0rem;
        bottom: 0;
        margin: auto;
        display: block;
        z-index: 0;
    }
    #back-to-top {
        position: fixed;
        bottom: 0px;
        left: 0rem;
        z-index: 9999;
        width: 32px;
        height: 32px;
        background-color: white;
        text-align: center;
        line-height: 30px;
        color: black;
        cursor: pointer;
        border: 0;
        border-radius: 2px;
        text-decoration: none;
        transition: opacity 1s ease-out;
        opacity: 0;
    }

}
